@{
    ViewBag.Title = "Classify";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
<main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">News Classification</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="/User/Index">Dashboard</a></li>
                            <li class="breadcrumb-item active">News Classification</li>
                        </ol>
                        @using (Html.BeginForm("Classify", "Home", FormMethod.Post))
                        {
                            <div class="row g-3 align-items-center">
                                <div class="col-auto">
                                    <label for="urlInput" class="col-form-label">Enter URL:</label>
                                </div>
                                <div class="col-auto">
                                    <input type="text" id="urlInput" name="url" class="form-control" required>
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        }
                        @if (ViewBag.ResponseData != null)
                        {
                            <div class="mt-3">
                                <h3>Result:</h3>
                                <pre>@Html.Raw(ViewBag.ResponseData)</pre>
                            </div>
                        }
                    </div>
</main>