@{
    ViewBag.Title = "Classify";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">News Classification</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/User/Index">Dashboard</a></li>
            <li class="breadcrumb-item active">News Classification</li>
        </ol>
        
        @using (Html.BeginForm("Classify", "Home", FormMethod.Post))
        {
            <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form id="classificationForm" action="@Url.Action("Classify", "Home")" method="post" style="margin-top: 100px;">
                <div class="input-group mb-3">
                    <input type="text" id="urlInput" name="url" class="form-control" placeholder="Enter URL..." required style="border-radius: 50;">
                    <button type="submit" class="btn btn-primary" style="border-radius: 50;">Classify</button>
                </div>
            </form>
        </div>
    </div>
</div>



        }
        
        @if (ViewBag.ResponseData != null)
        {
            <div class="mt-4">
                <h3>Classification Result:</h3>
                <div class="card">
                    <div class="card-body" id="responseData">
                        <pre>@Html.Raw(ViewBag.ResponseData)</pre>
                    </div>
                </div>
            </div>
        }
    </div>
</main>

<script>
    var responseData = @Html.Raw(ViewBag.ResponseData);
    if (responseData && responseData["predicted_label"] == "Danger news") {
        document.getElementById('responseData').classList.add('bg-danger');
    }else{
        document.getElementById('responseData').classList.add('bg-success');
    }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.12/signalr.min.js"></script>
<script src="/Admin/js/site.js"></script>