@{
    ViewBag.Title = "Download Video Youtube";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
<main>
        <h1>The feature is updating...Come back late!</h1>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.12/signalr.min.js"></script>
<script src="/Admin/js/site.js"></script>