@{
    ViewData["Title"] = "Home Page";
}
<main>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center mt-5">
                <h1 class="display-4">Welcome</h1>
                <p class="lead">Trang chu nguoi dung.</a>.</p>
            </div>
        </div>
    </div>
</div>
</main>


<style>
    .or-divider {
        font-size: 1.5rem;
        font-weight: bold;
        color: #6c757d; /* Màu xám */
    }
</style>

<script>
    function redirectToLogin() {
        window.location.href = '/Home/Login';
    }

    function redirectToRegister() {
        window.location.href = '/Home/Register';
    }
</script>
